body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #f4f6f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;

}

body {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-image: url(https://images.unsplash.com/photo-1770983438128-f4065cf02752?q=80&w=797&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;        /* fyller hele skjermen */
  background-position: center;   /* sentrerer bildet */
  background-repeat: no-repeat;  /* unngår fliser */
  background-attachment: fixed;  /* (valgfritt) parallax-effekt */
    
}

.calculator-section{
    background-color: #5f7f73;
    border-radius: 24px;
    padding: 40px 50px;
    width: 420px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.calculator-section{
  background: rgba(255, 255, 255, 0.15);   /* semi-transparent */
  backdrop-filter: blur(12px);              /* frosted glass */
  -webkit-backdrop-filter: blur(12px);
}


.calculator-section h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.calculator-section p {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 0;
    margin-bottom: 25px;
}

.bmi-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    background-color: white;
    color: #0f2f24;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    margin: 0 auto 20px auto;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease;
}

button:first-of-type {
    background-color: #2c2c2c;
    color: white;
}

button:first-of-type:hover {
    background-color: black;
    transform: translateY(-1px);
}

button:last-of-type {
 background-color: rgba(255,255,255,0.2);
 backdrop-filter: blur(10px);              /* frosted glass */
 -webkit-backdrop-filter: blur(10px);
  color:black;
}

button:last-of-type:hover {
    background-color: rgba(255,255,255,0.35);
}

#message {
    margin-top: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
