   body {
     font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: #f4f6f5;

    background-image: url("https://images.unsplash.com/photo-1744744041774-4485eb2492ec?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.kcal-section {
    width: 420px;
    padding: 40px 50px;
    border-radius: 24px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1 {
    margin-bottom: 20px;
}

#label {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#label label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 0.95rem;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
}

#input input {
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease;
    background-color: #2c2c2c;
    color: white;
}

button:hover {
    background-color: black;
    transform: translateY(-1px);
}

#result {
    display: block;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.05rem;
}

#result {
    color: #2c2c2c;
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

}
